
  	body{
  		background-color: #f2eeea;

  	}
  	.main{
      width:600px;
      background-color: #eee;
      margin: 40px auto;
      border-radius: 5px;
      border:5px solid #999;
      box-shadow: 0 0 10px #000;
  	}
    .register{
      max-width: 960px;
      color:##1b1e19;
      text-align: center;
    }
    .user-info{
      max-width: 960px;
      color:#1b1e19;
      text-align: center;
    }

     form {
   width: 550px;
   height: 450px;
   margin: auto;
   position: relative;
 }
    
  	header{
  		width: 100%;
  		padding: 10px;
  		text-align: center;
  		background:linear-gradient(#451212, #4213e2);
  		color: #bbb;
  		font-size: 45px;
  		text-shadow: 1px 1px 2px #555;
  	}

    input[type=text], input[type=text], input[type=email], input[type=password] {
      width: 50%;
      top: 40px;
      margin-left: 20px;
      padding: 8px 8px;
      font-size: 100%;
      text-align: center;
    }
  	label{
  		font-size: 25px;
  		color: #ffba0c;
      margin-left: 100px;

  	}
    User{
      margin-left:350px;
      top: 25px;
    }
  	img{
  		position: absolute;
  		width:80px;
  		height: 80px;
      margin-left:35px;
  		padding: 6px;
  		background-color: #eee;
  		border-right: 2px solid #555;
  		border-top-left-radius: 5px;
  		border-bottom-left-radius: 5px; 
  	}
     h3{
      font-size: 25px;
      color: #134233;
    }
    

    }

    @media screen and (min-width: 960px){
      .title{
        font-size: 25px;
      }
      label {
        font-size: 25px;
      }
      #Hurry{
        font-size: 25px;
        text-align: left;
      }
      #Register{
        font-size: 25px;
        text-align: left;
}

